.daliQ {
    /*font-family: BulgariaModernaV3 !important;*/
    font-family: BulgariaModernaV3 !important;
    font-size:2em;
}
#carousel-wrapper{
   /* background-color: greenyellow; */
    width:80%;
    margin:0 auto;
}
.slider-size {
    height: 380px; /* This is your slider height */
    background-size:cover;
}
.carousel {
    width: 100%;
    margin: 0 auto; /* center your carousel if other than 100% */
}
.carousel-caption > a{
    color: #4cff00;
    text-decoration: none !important;
}
.carousel-caption > a:hover{
    color: #ffff00;
}
#main-content {
    font-family: BuxtonSketch;
    height: 680px;
    display: none;
    font-size: 1.8em !important;
    background: url("../images/frame.png") no-repeat center;
    -webkit-background-size: 80%;
    background-size: 85%;
}
#bai-ganio{
    margin: 0 auto;
}
#bai-ganio > h1{
    text-align: center;
}
#bai-ganio > h1 > a:hover{
    text-decoration: none;
}


.soc-icons>div>a{
    margin: 20px;
}
@media (min-width: 768px){
    .nav-tabs-justified>li>a {
        border-bottom: 0px !important;
    }
    .BulgariaModernaV3 {
        font-size: 3em !important;
    }
}
@media (max-width: 360px){
    #main-content{
        background: none;
    }
    #ganio-info{
        font-size: 2em !important;
    }
}