@font-face {
    font-family: 'BulgariaModernaV3';
    src: url('../fonts/myfonts/BulgariaModernaV3.otf') format('truetype');
}
@font-face {
    font-family: 'BernardoModaContrast';
    src: url('../fonts/myfonts/BernardoModaContrast.ttf') format('truetype');
}
@font-face {
    font-family: 'RuslanDisplay';
    src: url('../fonts/myfonts/RuslanDisplay.ttf') format('truetype');
}
@font-face {
    font-family: 'AvdiraR';

    src: url('../fonts/myfonts/Avdira_R.otf') format('truetype');
}
.AvdiraR {
    font-family: AvdiraR !important;
    font-size: 1.6em;
}

.RuslanDisplay {
    font-family: RuslanDisplay !important;
    font-size: 3em;
}

.BernardoModaContrast {
    font-family: BernardoModaContrast !important;
    color: #6f11ca;
    font-size:2em !important;
    text-shadow: 2px 8px 6px #808080,
    20px -15px 85px rgba(255,255,255,0.3);
}
.BulgariaModernaV3 {
    font-family: BulgariaModernaV3 !important;
}

.daliQ {
    /*font-family: BulgariaModernaV3 !important;*/
    font-family: BulgariaModernaV3 !important;
    font-size:2em;
}
#carousel-wrapper{
   /* background-color: greenyellow; */
    width:70%;
    margin:0 auto;
}
.slider-size {
    height: 280px; /* This is your slider height */
    background-size:cover;
}
.carousel {
    width:100%;
    margin:0 auto; /* center your carousel if other than 100% */
}

.carousel-caption > a{
    color: #4cff00;
    text-decoration: none !important;
}
.carousel-caption > a:hover{
    color: #ffff00;
}



#main-content{
    font-family: "Buxton Sketch";
    height: 500px;
    background-color: #eea236;
    margin: 20px;
    text-align: center;
    font-size: 50px;
    vertical-align: middle;
}

footer{
    text-align: center;
}


@media (min-width: 768px){
    .nav-tabs-justified>li>a{
        border-bottom: 0px !important;
    }
}