.daliQ {
    /*font-family: BulgariaModernaV3 !important;*/
    font-family: BulgariaModernaV3 !important;
    font-size:2em;
}
#carousel-wrapper{
   /* background-color: greenyellow; */
    width:70%;
    margin:0 auto;
}
.slider-size {
    height: 280px; /* This is your slider height */
    background-size:cover;
}
.carousel {
    width: 100%;
    margin: 0 auto; /* center your carousel if other than 100% */
}
.carousel-caption > a{
    color: #4cff00;
    text-decoration: none !important;
    font-size: 2em;
}
.carousel-caption > a:hover{
    color: #ffff00;
}
#main-content {
    font-family: BuxtonSketch;
    height: 600px;
    display: none;
    font-size: 1.8em;
    background: url("../images/frame.png") no-repeat center;
    -webkit-background-size: 65%;
    background-size: 75%;
}
#bai-ganio{
    margin: 0 auto;
}
#bai-ganio > h1{
    text-align: center;
}
#bai-ganio > h1 > a:hover{
    text-decoration: none;
}

footer{
    text-align: center;
}
.soc-icons>div>a{
    margin: 20px;
}
@media (min-width: 768px){
    .nav-tabs-justified>li>a{
        border-bottom: 0px !important;
    }
}
@media (max-width: 360px){
    #main-content{
        background: none;
    }
}