<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Handling events</title>
    <script src="../../js/angular.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.min.js"></script>

</head>
<body ng-app="myModule">
    <div ng-controller="myController" style="width: 86%; margin:0 auto;">
        <table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Likes</th>
            <th>Dislikes</th>
            <th>Like/Dislike</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="technology in technologies">
            <td>{{technology.name}}</td>
            <td>{{technology.likes}}</td>
            <td>{{technology.dislikes}}</td>
            <td>
                <input type="button" value="Like" ng-click="incrementLikes(technology)">
                <input type="button" value="Dislike" ng-click="incrementDislikes(technology)">
            </td>
        </tr>
    </tbody>
</table>
    </div>



    <script>

        let app = angular
            .module('myModule', [])
            .controller('myController', function ($scope) {
                let technologies = [
                    {name:"C#", likes:0, dislikes:0},
                    {name:"ASP.NET", likes:0, dislikes:0},
                    {name:"SQL Server", likes:0, dislikes:0},
                    {name:"AngularJS", likes:0, dislikes:0}
                ];
                $scope.technologies = technologies;

                $scope.incrementLikes = function (technology) {
                    technology.likes++;
                }

                $scope.incrementDislikes = function (technology) {
                    technology.dislikes++;
                }

            });
    </script>


</body>
</html>