<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sortin Data</title>
    <script src="../../js/angular.min.js"></script>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <script src="../../js/bootstrap.min.js"></script>
</head>
<body ng-app="myModule">
<div ng-controller="myController" style="width: 86%; margin:0 auto;">
    Order by :
    <select ng-model="sortColumn">
        <option value="names">Name ASC</option>
        <option value="gender">Gender ASC</option>
        <option value="-dateOfBirth">Date of birth DESC</option>
        <option value="-salary">Salary DESC</option>

    </select>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="employee in employees | orderBy:sortColumn">
            <td>{{employee.name | uppercase}}</td>
            <td>{{employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
            <td>{{employee.gender | lowercase}}</td>
            <td>{{employee.salary | number}}</td>
        </tr>
        </tbody>
    </table>
</div>



<script>

    let app = angular
        .module('myModule', [])
        .controller('myController', function ($scope) {
            let employees = [
                {name:"Bugs Bunny", dateOfBirth:new Date("November 23, 1902"), gender:"Rabbit", salary: 55000},
                {name:"Daffy Duck", dateOfBirth:new Date("November 23, 1901"), gender:"Duck", salary: 60000},
                {name:"Tazmanian Devil", dateOfBirth:new Date("November 23, 1900"), gender:"Male", salary: 95000.788},
                {name:"Любен Киков", dateOfBirth:new Date("June 19, 1984"), gender:"Male", salary: 60000.788},
                {name:"Буги Барабата", dateOfBirth:new Date("April 13, 1980"), gender:"Male", salary: 12000.788}
            ];

            $scope.employees = employees;
            $scope.sortColumn = "name";
        });
</script>


</body>
</html>