<h3 style="font-family:'Garamond'; font-size:2.6em;">This data is fetched from <b>https://bgapi.azurewebsites.net/api/courses/GetInitialCourses</b></h3>
 
<br>

  <table class='initTable'>
    <tr>
      <th>Name</th>
      <th><b>Teacher Name</b></th>
      <th>Description</th>
      <th>Start/End date</th>
      <th>other</th>
    </tr>
    <tr *ngFor="let course of courses">
      <td>{{course.name}}</td>
      <td><b>{{course.teacherName}}</b></td>
      <td>{{course.description}}</td>
      <td>{{course.startDate}} <br> {{course.endDate}}</td>
      <td>
      <i class="fa fa-remove"></i>
      <i class="fa fa-check"></i>
      </td>
    </tr>
  </table>