<div class="content">
    <div class="row">
        <div class="col-xs-12 col-center text-center">
            <hr>
            <img class="myImg animated fadeInRightBig" src="../assets/images/bd2.gif"  alt=""/>
            <div *ngIf='!notificationFlag' class="animated fadeInLeftBig">
                <h1>
                    Don't worry!
                    <br> Just write your email & we will send you password reset link.
                </h1>
                <hr>
            </div>
            <h1 class="checkEmail" *ngIf='notificationFlag'>Please check your email for password reset link!</h1>
            <div *ngIf='inputFlag' class="inputBox">
                <form #emailForm="ngForm">
                    <div *ngIf="errMsg != ''" class="alert alert-danger">
                        {{errMsg}}
                    </div>
                    <input type="email" [(ngModel)]='emailForReset' class="form-control" #email='ngModel'
                    name="email" placeholder="my-cool-email@example.domain" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
                    <div *ngIf='email.invalid && (email.dirty || email.touched)' class="alert alert-danger">
                        <div *ngIf='email.errors.required'>
                            Email is required.
                        </div>
                        <div *ngIf='email.errors.pattern'>
                            Wrong email pattern.
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" (click)='sendResetLink(emailForm)' [disabled]='emailForm.invalid'>Send password reset link</button>
                </form>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px', fullScreenBackdrop: true }"></ngx-loading>
</div>