.myImg {
    width: 5%;
}
h1{
    font-size: 2em;
    vertical-align: middle;
}
.inputBox {
    width: 60%;
    margin: 0 auto;
    border-radius: 5px;
    border: solid 1px gray;
    padding: 10px;

    input {
        padding: 6px 12px;
        font-size: 1.9em;
        vertical-align: middle;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
    }
}
.checkEmail {
    font-size: 3em;
    vertical-align: middle;
    animation: PopUp 1s ease-in-out;
}
.alert-danger {
    margin-bottom: 0;
    font-size: 2em;
}
button {
    width: 100%;
    font-size: 1.5em;
    margin: 0 auto;
}
@media only screen and (max-width: 797px) {
    h1{
        font-size: 4em;
    }
    h2 {
        font-size: 2em;
    }
}
@media only screen and (max-width: 591px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    .alert-danger {
        font-size: 1.5em;
    }
    .inputBox input {
        font-size: 0.95em;
    }
    button {
        font-size: 1em;
    }
    .inputBox {
        width: 90%;
    }
}
@media only screen and (max-width: 451px) {
    h1 {
        font-size: 1.6em;
    }
    .myImg {
        width: 12%;
    }
    .alert-danger {
        font-size: 1.2em;
    }
    .inputBox input {
        width: 100%;
    }
}