<!--============================== HIDDEN SIDE NAV =================================-->
<!-- <app-hidden-side-nav></app-hidden-side-nav> -->
<!--============================== END HIDDEN SIDE NAV =================================-->

<!--============================== MAIN SECTION =================================-->
<div id="main">
  <div class="row">
  <!--============================== SIDEBAR =================================-->
    <div class="col-md-3" id="side-nav-menu">
      <app-sidebar></app-sidebar>
    </div> 
  <!--============================== END SIDEBAR =================================-->
  <!--============================== END MAIN CONTENT =================================-->
    <div class="col-md-9" id="main-page-content">
      <app-main-content></app-main-content>
    </div>
  <!--============================== END MAIN CONTENT =================================-->
  </div>
</div>
<!--============================== END MAIN SECTION =================================-->
<hr>

<!--============================== FOOTER =================================-->
<app-footer></app-footer>
<!--============================== END FOOTER =================================-->
<hr>

