<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    <span class="Guildof">{{title}}</span>
  </h1>
  <img width="300" src="../assets/images/Ganio.jpg">
</div>
<!--============================== HIDDEN SIDE NAV =================================-->
<app-hidden-side-nav></app-hidden-side-nav>
<!--============================== END HIDDEN SIDE NAV =================================-->

<!--============================== MAIN SECTION =================================-->

  <!--============================== SIDEBAR =================================-->
  <app-sidebar></app-sidebar>
  <!--============================== END SIDEBAR =================================-->

  <!--============================== END MAIN CONTENT =================================-->
  <app-main-content></app-main-content>
  <!--============================== END MAIN SECTION =================================-->

<!--============================== MAIN CONTENT =================================-->

<!--============================== FOOTER =================================-->
<app-footer></app-footer>
<!--============================== END FOOTER =================================-->
<hr>

