<!--============================== HIDDEN SIDE NAV =================================-->
<!-- <app-sidebar-hidden></app-sidebar-hidden> -->
<!--============================== END HIDDEN SIDE NAV =================================-->

<!--============================== MAIN SECTION =================================-->
<div id="main">
  <div class="row GaramondRegular">
    <!--============================== SIDEBAR =================================-->
    <div class="col-md-2" id="side-nav-menu">
      <app-sidebar></app-sidebar>
    </div>
    <!--============================== END SIDEBAR =================================-->

    <!--============================== MAIN CONTENT =================================-->
    <div class="col-md-10" id="main-page-content">
        <router-outlet></router-outlet>
    </div>
    <!--============================== END MAIN CONTENT =================================-->
  </div>
  <hr>
  <div class="row">
    <!--============================== BANNER CONTENT =================================-->
    <!-- <div class="col-md-12">
      <app-banner></app-banner>
     <h1 class="Guildof" style="text-align:center;">banner - coming soon</h1>
    </div> -->
    <!--============================== END BANNER CONTENT =================================-->
  </div>
</div>
<!--============================== END MAIN SECTION =================================-->
<hr>

<!--============================== FOOTER =================================-->
<app-footer></app-footer>
<!--============================== END FOOTER =================================-->
<!-- <app-error></app-error> -->
<hr>