<!--============================== HIDDEN SIDE NAV =================================-->
<!-- <app-sidebar-hidden></app-sidebar-hidden> -->
<!--============================== END HIDDEN SIDE NAV =================================-->

<!--============================== MAIN SECTION =================================-->
<div id="main">
  <div class="row">
    <!--============================== SIDEBAR =================================-->
    <div class="col-md-3" id="side-nav-menu">
      <app-sidebar></app-sidebar>
    </div>
    <!--============================== END SIDEBAR =================================-->

    <!--============================== MAIN CONTENT =================================-->
    <div class="col-md-9" id="main-page-content">
      <app-main-section></app-main-section>
    </div>
    <!--============================== END MAIN CONTENT =================================-->
  </div>
  <hr>
  <div class="row">
    <!--============================== BANNER CONTENT =================================-->
    <div class="col-md-12">
      <!-- <app-banner></app-banner> -->
    </div>
    <!--============================== END BANNER CONTENT =================================-->
  </div>
</div>
<!--============================== END MAIN SECTION =================================-->
<hr>

<!--============================== FOOTER =================================-->
<app-footer></app-footer>
<!--============================== END FOOTER =================================-->
<!-- <app-error></app-error> -->
<hr>