<footer>
  <div id="footer-holder">
      <span>(C) Space University - DateTime.Now. All rights reserved.</span>
      <p>Developed by Lyuben Kikov - part-time assistant at department Software Technologies.</p>

      <div>
          <a href="https://www.facebook.com/profile.php?id=100000862476257" target="_blank">
              <img src="../assets/images/social-icons/facebook.jpg" alt="Facebook" title="Facebook">
          </a>
          <a href="https://github.com/BaiGanio" target="_blank">
              <img src="../assets//images/social-icons/daftpunktocat-small.png" alt="GitHub" title="Github">
          </a>
          <a href="#">
              <img src="../assets/images/social-icons/google.jpg" alt="Google" title="Google">
          </a>
      </div>
  </div>
</footer>