<footer>
  <div id="footer-holder">
    <p>(C) baiganio.github.io</span>
        <p>All rights reserved</p>
        <p>Developed by Lyuben Kikov</p>
      <div>
          <a href="https://www.facebook.com/profile.php?id=100000862476257" target="_blank">
              <img src="../assets/images/social-icons/facebook.jpg" alt="Facebook" title="Facebook">
          </a>
          <a href="https://github.com/BaiGanio" target="_blank">
              <img src="../assets//images/social-icons/daftpunktocat-small.png" alt="GitHub" title="Github">
          </a>
          <a href="#">
              <img src="../assets/images/social-icons/google.jpg" alt="Google" title="Google">
          </a>
      </div>
  </div>
</footer>