/* Aside */
.sidebar {
    height: 100%;
    text-align: center;
  }
  
  #logo {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #logo {
    /*border:2px solid black;*/
    width: 40%;
  }
  
  .single-menu-element-link>a {
    font-weight: 900;
    text-decoration: none;
    -moz-transition-property: font-weight;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 2.5s;
    -webkit-transition-property: font-weight;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 2.5s;
  }
  
  .single-menu-element-link>a:hover {
    transition: background 0.7s ease;
  }
  
  
  /* End Aside */
  
  #side-nav-menu>p{
    text-align: right;
  }
  #shrink-menu{
    display: none;
    font-family: Alsandra;
    font-size: 2em;
    text-decoration: none;
  }
  .page-navigation>a {
    color: black;
    font-size: 2em;
    text-decoration: none;
    display: block;
  }
  
  .page-navigation>a:hover {
    color: #2e6da4;
  }
  
  #post-title {
    font-size: 1.6em !important;
    text-align: left !important;
    color: black;
  }