<nav id="main-menu" class="navbar navbar-inverse navbar-fixed-top"  role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand whoIsBehind flip4o" href="#">Who is BAI GANIO? <b>&#128527;</b></a>
    
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li> <a class="whoIsBehind flip4o" href="#">Who's Bai Ganio? <b>&#128527;</b></a></li>-->
                <li class="scroll"><a href="#home">Back to top</a></li>
                <!--<li><a href='#' class="whoIsBehind">Who's Bai Ganio?</a></li>-->
                <!--<li class="scroll"><a class="whoIsBehindYe" href="#features">Features</a></li>-->
                <!--<li class="scroll"><a class="whoIsBehindYe" href="#services">Services</a></li>-->
                <li class="scroll"><a class="whoIsBehindYe" href="#portfolio">Portfolio</a></li>
                <li class="scroll"><a class="whoIsBehindYe" href="#about">About us</a></li>
                <li class="scroll"><a class="whoIsBehindYe" href="#courses">Courses</a></li>
                <li class="scroll"><a class="whoIsBehindYe" href="#meet-team">Team</a></li>
                <!--<li class="scroll"><a href="#books">Free Dev Books</a></li>-->
                <!--<li class="scroll"><a href="#pricing">Pricing</a></li>-->
                <li class="scroll"><a href="#blog">Latest Blogs</a></li>
                <li class="scroll"><a class="whoIsBehindYe" href="#get-in-touch">Contacts</a></li>
                <li class=""><a class="whoIsBehindYe" href="space-university/index.html">Space University</a></li>
                <!--<li class=""><a class="whoIsBehindYe" href="admin/production/index.html">Admin</a></li>-->
  
                <!--<li id="linkLogin"><a href="login.html" id="loginLnk"></a></li>-->
                <!--<li> <a href="register.html">Register</a> </li>-->
                <!--<li id="user"><a href="admin.html" id="userMsg"></a></li>-->
                <!--<li id="linkLogout" ><a href="#">Logout</a></li>-->
  
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/login" class="single-menu-element-link">Login</a>
                </li>
                <li>
                    <a routerLink="/register" class="single-menu-element-link">Register</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>