mat-form-field {
    width: 80%;
}
.thumb-holder {
    width: 70%;
    margin: 0 auto;
}
.modal {
    overflow: auto;
}

@media only screen and (max-width: 576px) {
    mat-form-field {
        width: 100%;
    }
}