<div style="height:100px;"></div>
<div style="text-align: center;">
    <h4 class="" style="color: #c0a16b">
        <b>Thank you for confirming your email.</b>
    </h4>
    <hr>
    <h1 class="" style="color: #c0a16b; padding:60px; ">
      <b>Welcome to BG Team community!</b>
    </h1>
    <hr>
    <h4 class="" style="color: #c0a16b">
        <b>
        <a routerLink="/login" class="single-menu-element-link">
          Go to login
        </a> 
        </b>
    </h4>
</div>
<div style="height:100px;"></div>