<!-- <div class="container">
    <div class="panel center-block text-center medium-top-margin">
      <h2 i18n *ngIf="!successMessage && !errorMessage">Please wait...</h2>
      <h2 *ngIf="successMessage">{{successMessage}}</h2>
      <h2 *ngIf="errorMessage">{{errorMessage}}</h2>
      <button type="button" class="btn btn-primary fourhundred remove-bot-margin" (click)="goToLogin()" *ngIf="successMessage && enableLogin" i18n>
        Go to Login
      </button>
    </div>
  </div>
  
  <div class="hidden" id="4hundred_order_id">{{userId}}</div> -->

  HI!!