<section id="viewHome">
  <div class="sectionWrapper">
      <h1 class="Guildof">Respect the diversity of the species!</h1>
      <img id="myImg" src="../assets/images/lil-small.png"  alt="Picture from my collection." />
      <h1 class="Guildof">We are all unique!</h1>
  </div>
  <hr>
  <div class="sectionWrapper">
    <h1 class="Guildof">Respect the diversity of the species!</h1>
    <img id="myImg" src="../assets/images/puppets.jpg"  alt="Picture from my collection." />
    <h1 class="Guildof">We are all unique!</h1>
</div>
</section>
