<div id="banner">
    <h1 class="Guildof">Used technologies:</h1>
    <h3 class="Guildof">&#x2713;
        <a href="https://www.jetbrains.com/webstorm/" target="_blank">                        
        <b>Visual Studio Code</b>
        </a>
        <b> as development ide</b>
    </h3>
    <h3 class="Guildof">&#x2713;
        <a href="https://www.kinvey.com/" target="_blank">
            <b>Kinvey</b>
        </a>
        <b> as BaaS for the data flow</b>
    </h3>
    <h3 class="Guildof">&#x2713;
          <a href="" target="_blank">
              <b>Angular</b>
          </a>
        <b>as front-end technology</b>
    </h3>
    <h3 class="Guildof">&#x2713;
        <b>Source Code on </b>
        <a href="https://github.com/BaiGanio/baiganio.github.io/tree/staging"
            class='read-more'
            target="_blank"
            data-toggle='tooltip'
            title='source code :)'>
            <b>Github &#8250;&#8250;&#8250; [...]</b>
        </a>
    </h3>
</div>