<div class="col-sm-12">
  <h1 class="Guildof">Respect the diversity of the species!</h1>
  <img class="myImg" src="../assets/images/lil.jpg"  alt="Picture from my collection." />
  <h1 class="Guildof">We are all unique!</h1>

  <!-- <div id="wowslider-container1" style="width:100%">
    <div class="ws_images">
      <ul>
        <li><img src="../assets/images/walle1.jpg" alt="IMG_132037229232814" title="IMG_132037229232814" id="wows1_0"/></li>
        <li><img src="../assets/data1/images/img_132619566094818.jpg" alt="IMG_132619566094818" title="IMG_132619566094818" id="wows1_1"/></li>
        <li><img src="../assets/data1/images/img_152565118202337.jpg" alt="IMG_152565118202337" title="IMG_152565118202337" id="wows1_2"/></li>
        <li><img src="../assets/data1/images/img_157567885884136.jpg" alt="IMG_157567885884136" title="IMG_157567885884136" id="wows1_3"/></li>
        <li><img src="../assets/data1/images/img_166734184700492.jpg" alt="IMG_166734184700492" title="IMG_166734184700492" id="wows1_4"/></li>
        <li><img src="../assets/data1/images/img_167533205330374.jpg" alt="bootstrap image slider" title="IMG_167533205330374" id="wows1_5"/></li>
        <li><img src="../assets/data1/images/img_167921852531507.jpg" alt="IMG_167921852531507" title="IMG_167921852531507" id="wows1_6"/></li>
      </ul>
    </div>
      <div class="ws_bullets"><div>
        <a href="#" title="IMG_132037229232814"><span><img src="../assets/images/walle1.jpg" alt="IMG_132037229232814"/>1</span></a>
        <a href="#" title="IMG_132619566094818"><span><img src="../assets/data1/tooltips/img_132619566094818.jpg" alt="IMG_132619566094818"/>2</span></a>
        <a href="#" title="IMG_152565118202337"><span><img src="../assets/data1/tooltips/img_152565118202337.jpg" alt="IMG_152565118202337"/>3</span></a>
        <a href="#" title="IMG_157567885884136"><span><img src="../assets/data1/tooltips/img_157567885884136.jpg" alt="IMG_157567885884136"/>4</span></a>
        <a href="#" title="IMG_166734184700492"><span><img src="../assets/data1/tooltips/img_166734184700492.jpg" alt="IMG_166734184700492"/>5</span></a>
        <a href="#" title="IMG_167533205330374"><span><img src="../assets/data1/tooltips/img_167533205330374.jpg" alt="IMG_167533205330374"/>6</span></a>
        <a href="#" title="IMG_167921852531507"><span><img src="../assets/data1/tooltips/img_167921852531507.jpg" alt="IMG_167921852531507"/>7</span></a>
      </div></div>
      <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">image carousel</a> by WOWSlider.com v8.8</div>
    <div class="ws_shadow"></div>
  </div>	 -->
</div>
