/* #banner {
    text-align: center;
    padding: 100px 0 70px;
    background: #132125 url(../../../assets/images/body-img.png) no-repeat 0 0;
    background-size: auto auto;
    background-size: cover;
    color: aliceblue;
} */
#banner h3{
    font-size: 3em;
}
#banner a{
    color: #abd512;
    text-decoration: none;
}
#banner a:hover{
    color: #91d512;
}