.newPassForm {
    width: 50%;
    margin: 0 auto;
    font-size: 25px;
    font-weight: lighter;

    input {
        padding: 6px 12px;
        display: block;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        font-size: 25px;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
    }

    button {
        width: 100px;
        font-size: 20px;
        margin: 0 auto;
        display: block;
    }
}
.alert-danger {
    font-size: 20px;
}
.mailReset {
    font-size: 3em;
    vertical-align: middle;
    animation: PopUp 1s ease-in-out;
}
.myImg {
    width: 5%;
}
@media only screen and (max-width: 591px) {
    .alert-danger {
        font-size: 20px;
    }
    .newPassForm {
        width: 90%;
    }
    h1 {
        font-size: 3em;
    }
}
@media only screen and (max-width: 797px) {
    h1{
        font-size: 4em;
    }
}
@media only screen and (max-width: 451px) {
    h1 {
        font-size: 2em;
    }
}