<div class="content">
  <div class="row">
    <div class="col-xs-12 col-center text-center">
        <ng-container *ngIf='resetFlag; else reset'>
            <br>
            <h1 class="mailReset">Your email was reset successfuly! Redirecting to login...</h1>
            <img class="myImg" src="../assets/images/bd2.gif"  alt=""/>
        </ng-container>
        <ng-template #reset>
            <h1>Create new password</h1>
            <hr>
            <form #passForm="ngForm" class="newPassForm">
                <label>Email:</label>
                <input type="text" class="form-control" value="{{email}}" disabled >
                <br>
                <label>New Password:</label>
                <input type="password" class="form-control" [(ngModel)]="newPass" #nPass="ngModel" name="nPass" required>
                <div *ngIf='nPass.invalid && (nPass.dirty || nPass.touched)' class="alert alert-danger">
                    <div *ngIf='nPass.errors.required'>
                        New password is required.
                    </div>
                </div>
                <br>
                <label>Confirm Password:</label>
                <input type="password" class="form-control" [(ngModel)]="confirmPass" #cfPass="ngModel" name="gay" required>
                <div *ngIf='cfPass.invalid && (cfPass.dirty || cfPass.touched)' class="alert alert-danger">
                    <div *ngIf='cfPass.errors.required'>
                        Confirm password is required.
                    </div>
                </div>
                <br>
                <div *ngIf="errMsg != ''" class="alert alert-danger">
                    {{ errMsg }}
                </div>
                <button *ngIf="errMsg !== 'Invalid or expired link!'" class="btn btn-primary" (click)='resetPassword()' [disabled]='passForm.invalid'>Save</button>
            </form>
        </ng-template>
    </div>
  </div>
</div>