
        <!-- MESSAGES HELPERS -->
        <!-- <section id="loadingBox">Loading.....</section>
        <section id="infoBox" onclick="$(this).hide()">Info.....</section>
        <section id="errorBox" onclick="$(this).hide()">Error.....</section> -->
        <!-- END MESSAGES HELPERS -->

        <!-- START HOME PAGE CONTENT -->
        <section id="viewHome">
          <div id="sectionWrapper">
              <h1 class="Guildof">Respect the diversity of the species!</h1>
              <img id="myImg" src="../assets/images/lil-small.png"  alt="A picture from Sony World Photography Awards 2016." />
              <h1 class="Guildof">We are all unique!</h1>
              <br>
              <h1 class="Guildof">Used technologies:</h1>
              <h3 class="Guildof">&#x2713;
                  <a href="https://www.jetbrains.com/webstorm/" target="_blank">                        
                  <b>Visual Studio Code</b>
                  </a>
                  <b>IDE</b>
              </h3>
              <h3 class="Guildof">&#x2713;
                  <a href="https://www.kinvey.com/" target="_blank">
                      <b>Kinvey</b>
                  </a>
                  <b> as a storage for the data flow</b>
              </h3>
              <h3 class="Guildof">&#x2713;
                  <b>JavaScript &
                      <a href="https://jquery.com/" target="_blank">
                          JQuery
                      </a>
                      &
                      <a href="http://getbootstrap.com/" target="_blank">
                          Bootstrap
                      </a>
                      &
                      <a href="http://getbootstrap.com/" target="_blank">
                          Angular
                      </a>
                  </b>
              </h3>
              <h3 class="Guildof">&#x2713; <b>Ajax</b></h3>
              <br>
              <h3 class="Guildof">
                  <b>Angular Source Code on Github &#8250;&#8250;&#8250; </b>
                  <a href="https://github.com/BaiGanio/baiganio.github.io/tree/staging"
                      class='read-more'
                      target="_blank"
                      data-toggle='tooltip'
                      title='source code :)'>
                      <b>[...]</b>
                  </a>
              </h3>
          </div>
      </section>
      <!-- END HOME PAGE CONTENT -->
