<!-- MESSAGES HELPERS -->
<!-- <section id="loadingBox">Loading.....</section>
        <section id="infoBox" onclick="$(this).hide()">Info.....</section>
        <section id="errorBox" onclick="$(this).hide()">Error.....</section> -->
<!-- END MESSAGES HELPERS -->


<section id="viewHome">
  <div id="sectionWrapper">
      <h1 class="Guildof">Respect the diversity of the species!</h1>
      <img id="myImg" src="../assets/images/lil.jpg"  alt="A picture from Sony World Photography Awards 2016." />
      <h1 class="Guildof">We are all unique!</h1>
  </div>
<section
