@font-face {
    font-family: 'Alsandra';
    src: url('../fonts/alsandra.ttf') format('truetype');
}
@font-face {
    font-family: 'QTar';
    src: url('../fonts/qtarabianregular.ttf') format('truetype');
}
@font-face {
    font-family: 'TheMonkiesAteMySoul';
    src: url('../fonts/TheMonkiesAteMySoul.ttf') format('truetype');
}
@font-face {
    font-family: 'Guildof';
    src: url('../fonts/guildof.ttf') format('truetype');
}
@font-face {
    font-family: 'BuxtonSketch';
    src: url('../fonts/BuxtonSketch.ttf') format('truetype');
}

.alsandra{
    font-family: Alsandra;
}
.qtar{
    font-family: QTar;
}
.theMonkiesAteMySoul{
    font-family: TheMonkiesAteMySoul;
}
.guildof{
     font-family: Guildof;
}
.buxtonSketch{
    font-family: BuxtonSketch;
}
/* Aside */
.sidebar{
    /*  border: 2px solid black;*/
    /*background-color: darkorange;*/
    height:100%;
    text-align: center;
}

#logo{
    padding-top: 15px;
    padding-bottom: 15px;
}
#logo{
    /*border:2px solid black;*/
    width: 40%;
}
.single-menu-element-link > a{
    font-weight: 900;
    text-decoration: none;

    -moz-transition-property: font-weight;
    -moz-transition-duration: 3s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 2.5s;

    -webkit-transition-property: font-weight;
    -webkit-transition-duration: 3s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 2.5s;
}
.single-menu-element-link>a:hover{
    transition: background 0.7s ease;
}
/* End Aside */
.page-navigation>a{
    color: black;
    font-size: 2em;
    text-decoration: none;
    display: block;
}
.page-navigation>a:hover{
    color: #2e6da4;
}


/*.container-sandwich {*/
    /*display: inline-block;*/
    /*cursor: pointer;*/
/*}*/

/*.bar1, .bar2, .bar3 {*/
    /*width: 35px;*/
    /*height: 5px;*/
    /*background-color: #333;*/
    /*margin: 6px 0;*/
    /*transition: 0.4s;*/
/*}*/

/*.sidebar-menu {*/
    /*-webkit-transform: rotate(45deg) translate(-9px, 6px) ;*/
    /*transform: rotate(45deg) translate(-9px, 6px) ;*/
/*}*/

/*.change .bar2 {opacity: 0;}*/

/*.change .bar3 {*/
    /*-webkit-transform: rotate(45deg) translate(-8px, -8px) ;*/
    /*transform: rotate(45deg) translate(-8px, -8px) ;*/
/*}*/