#main {
    transition: margin-left .5s;
    padding: 20px;
}
#main-page-content{
    text-align: center;
}
#loadingBox, #infoBox, #errorBox{
    display: none;
}

#main-page-content > section{
    display: none;
}