 <!--============================== ANIMATED SIDE NAVIGATION =================================-->
 <div id="mySidenav" class="sidenav Guildof">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">ABOUT</a>
  <a href="#">SERVICES</a>
  <a href="#">CLIENTS</a>
  <a href="#">Contact</a>
  <a href="#" id="linkJSONviaAJAX" class="single-menu-element-link">
      Using jQuery to Retrieve JSON via AJAX
  </a>
</div>
<!--============================== END ANIMATED SIDE NAVIGATION =================================-->
uyydtkfugiytfykgmc.khgm