/* You can add global styles to this file, and also import other style files */
@font-face { font-family: "Alsandra"; src: url("./assets/fonts/alsandra.ttf"); }
@font-face { font-family: "BuxtonSketch"; src: url("./assets/fonts/BuxtonSketch.ttf"); }
@font-face { font-family: "Guildof"; src: url("./assets/fonts/guildof.ttf"); }
@font-face { font-family: "Lobster"; src: url("./assets/fonts/Lobster.otf"); }
@font-face { font-family: "Qtarabianregular"; src: url("./assets/fonts/qtarabianregular.ttf"); }
@font-face { font-family: "TheMonkiesAteMySoul"; src: url("./assets/fonts/TheMonkiesAteMySoul.ttf"); }

.Alsandra{
    font-family: Alsandra;
}
.BuxtonSketch{
    font-family: BuxtonSketch;
}
.Guildof{
    font-family: Guildof;
}
.Lobster{
    font-family: Lobster;
}
.Qtarabianregular{
    font-family: Qtarabianregular;
}
.TheMonkiesAteMySoul{
    font-family: TheMonkiesAteMySoul;
}