#footer-holder{
    /*background-color: #c0a16b;*/
    font-family: Guildof;
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
    padding: 100px 0 70px;
    background: #132125 url(../../../assets/images/banner/binary-globe.jpg) no-repeat 0 0;
    background-size: auto auto;
    background-size: cover;
}
#footer-holder a{
    text-decoration: none;
}
#footer-holder img {
    width: 3%;
}
#footer-holder img:hover {
    width: 4%;
}