<footer>
  <div id="footer-holder">
    <br>
    <br>
    <p>(C) baiganio.github.io - DateTime.Now</p>
    <p> All rights reserved. Developed by BG Soft Team.</p>
        <div>
            <a href="https://www.facebook.com/profile.php?id=100000862476257" target="_blank">
                <img src="../assets/images/social-icons/facebook.ico" alt="Facebook" title="Facebook">
            </a>
            <a href="https://github.com/BaiGanio" target="_blank">
                <img src="../assets//images/social-icons/octo.png" alt="GitHub" title="Github">
            </a>
            <a href="#">
                <img src="../assets/images/social-icons/google.png" alt="Google" title="Google">
            </a>
        </div>
        <p>MMXVII</p>
  </div>
</footer>