<!--Jumbotron-->
<div class="card card-image">
    <div class="text-center">
        <div class="py-5">

            <h2 class="card-title pt-3 mb-5 font-bold">Developed by (BG) Team</h2>
            <h2 id="copy-symb">&copy; 2015</h2>
            <h2 class="handyClock"><input type="text" id="clock"></h2>
            
                    <div class="links">
                        <a href="https://www.facebook.com/baiganio.azurewebsites.net/" target="_blank">
                            <img src="../assets/images/social-icons/facebook.ico" alt="Facebook" title="Facebook">
                        </a>
                        <a href="#">
                            <img src="../assets/images/social-icons/google.png" alt="Google" title="Google">
                        </a>
                        <a href="https://github.com/BaiGanio" target="_blank">
                            <img src="../assets//images/social-icons/octo.png" alt="GitHub" title="Github">
                        </a>
                        <a href="https://www.youtube.com/channel/UCczegwwjd8YyeophFBIJ4EA?view_as=subscriber" target="_blank">
                            <img src="../assets/images/social-icons/youtube.png" alt="YouTube" title="YouTube">
                        </a>
                    </div>     
                    <br>         
                    <h2 id="all-rights">
                        All rights reserved!
                    </h2>
        </div>
    </div>
</div>